<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.31">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.29">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.62">
    <script>node {
     def ub16_dockerfile_dir = env.GLOBAL_PARAMETER_DOCKER_REPO + &apos;/Ubuntu_16&apos;
     
     dir(ub16_dockerfile_dir) {
         stage(&apos;OS Build&apos;) {
             sh &apos;docker build -t ubuntu_16:${BUILD_ID} -f Dockerfile.ubuntu .&apos;
         }
         stage(&apos;iRODS Build&apos;) {
             sh &apos;docker build -t ub16_irods_build:${BUILD_ID} --build-arg base_image=ubuntu_16:${BUILD_ID} -f Dockerfile.build_irods .&apos;
         }
         stage(&apos;save iRODS Build&apos;) {
             sh &apos;docker run --rm -v $JENKINS_OUTPUT/${JOB_NAME}/${BUILD_NUMBER}:/jenkins_output ub16_irods_build:${BUILD_ID}&apos;
         }
         stage(&apos;iRODS Install&apos;) {
             sh &apos;docker build -t ub16_irods_install:${BUILD_ID} --build-arg base_image=ubuntu_16:${BUILD_ID} -f Dockerfile.install_and_test .&apos;
         }
         stage(&apos;run Tests&apos;) {
//             sh &apos;docker run --rm --name test_ibun__issue_3571 -v $JENKINS_OUTPUT/${BUILD_TAG}:/irods_build ub16_irods_install Ubuntu_16 postgres test_iadmin.TestIadmin.test_ibun__issue_3571&apos;
             sh &apos;docker run --rm --name test_rulebase -v $JENKINS_OUTPUT/${JOB_NAME}/${BUILD_NUMBER}:/irods_build ub16_irods_install:${BUILD_ID} Ubuntu_16 postgres test_rulebase&apos;
             //sh &apos;./run_tests_in_parallel.sh --image-name ub16_irods_install:${BUILD_ID} --jenkins-output $JENKINS_OUTPUT/${JOB_NAME}/${BUILD_NUMBER} --prefix ${BUILD_TAG} --build-dir Ubuntu_16 --database-type postgres&apos;
             
         }
     }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>